{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/teachers.css' %}">
    <link rel="stylesheet" href="{% static 'css/preloader.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="{% static 'img/logos/logo & book white.png' %}" type="image/x-icon">
    {% block links %}
    {% endblock %}
    <title>GRAMOTEY</title>

</head>

<body>
    <div id="preloader">
        <div class="inner">
            <div class="loader"></div>
            <div class="preloader_text">
                <img class="preloader_logo" src="{% static 'img/logos/logo2_green.png' %}" alt="">
            </div>
        </div>
    </div>

    <nav id="nav">
        <div class="nav_slogan">
            <!-- <img class="navsloganimage" src="{% static 'img/logos/слоган.png' %}" alt=""> -->
            <p>Scientia potentia est</p>
        </div>
        <div class="container">
            <div class="nav_content">
                <div class="nav_logo">
                    <a href="{% url 'main' %}">
                        <img src="{% static 'img/logos/logo2_green.png' %}" alt="">
                    </a>
                    <!-- <img class="navsloganimageniz" src="{% static 'img/logos/слоган.png' %}" alt=""> -->
                </div>
                <ul class="nav_ul">
                    <li>
                        <button class="dropbtn"><a href="{% url 'main' %}">Главная</a></button>
                    </li>
                    <li>
                        <div class="dropdown" style="float:left;">
                            <button class="dropbtn"><a href="{% url 'for_parents' %}">Родителям</a></button>
                            <div class="dropdown-content" style="left:0;">
                                <a href="{% url 'admission_to_school' %}">Прием в школу</a>
                                <a href="{% url 'lesson_Schedule' %}">Расписание уроков</a>
                                <a href="{% url 'meeting_schedule' %}">Расписание родителских собраний</a>
                                <a href="{% url 'uniform' %}">Форма учащихся</a>
                                <a href="{% url 'payment_schedule' %}">График внесения оплаты</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown" style="float:left;">
                            <button class="dropbtn"><a href="{% url 'for_students_and_graduates' %}">Ученикам</a>
                            </button>
                            <div class="dropdown-content" style="left:0;">
                                <a href="{% url 'for_students' %}">Ученикам</a>
                                <a href="{% url 'for_graduates' %}">Выпускникам</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown" style="float:left;">
                            <button class="dropbtn"><a href="{% url 'gallery' %}"> Галeрея</a></button>
                            <div class="dropdown-content" style="left:0;">
                                <a href="{% url 'mentors' %}">Учителя</a>
                                <a href="{% url 'students' %}">Ученики</a>
                                <a href="{% url 'graduates' %}">Выпускники</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a class="sidebar_a" href="{% url 'main' %}">Главная</a>
        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Родителям</button>
            <div class="dropdown-content" style="left:0;">
                <a href="{% url 'admission_to_school' %}">Прием в школу</a>
                <a href="{% url 'lesson_Schedule' %}">Расписание уроков</a>
                <a href="{% url 'meeting_schedule' %}">Расписание родителских собраний</a>
                <a href="{% url 'uniform' %}">Форма учащихся</a>
                <a href="{% url 'payment_schedule' %}">График внесения оплаты</a>
            </div>
        </div>
        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Ученикам</button>
            <div class="dropdown-content" style="left:0;">
                <a href="{% url 'for_students' %}">Ученикам</a>
                <a href="{% url 'for_graduates' %}">Выпускникам</a>
            </div>
        </div>
        <div class="dropdown" style="float:left;">
            <button class="dropbtn">Галерея</button>
            <div class="dropdown-content" style="left:0;">
                <a href="{% url 'mentors' %}">Учителя</a>
                <a href="{% url 'students' %}">Ученики</a>
                <a href="{% url 'graduates' %}">Выпускники</a>
            </div>
        </div>
    </div>
    <div id="main" class="">
        <button class="openbtn" onclick="openNav()">☰ GRAMOTEY</button>
    </div>

    {% block content %}

    {% endblock %}

    <footer class="footer">
        <div class="container">
            <div class="footer__item">
                <div>
                    <img height="150px" src="{% static 'img/logos/logo & book white.png' %}" alt="">
                </div>
                <div class="follow">
                    <h2>Follow Us</h2>
                    <div class="social__icons">
                        <div class="social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="footer__links">
                    <h2>Контакты</h2>
                    <p>г. Ош, ул.Шамшиева 1а</p>
                    <div class="from">
                        <i class="fa-solid fa-phone"></i>
                        <a href="#">+996-3222-5-64-27</a>
                    </div>
                    <div class="from">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="#">info@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="{% static 'css/app.js' %}"></script>
    
    <script>
        window.addEventListener('load', () => {
            const preloader = document.querySelector('#preloader');
            preloader.classList.add('fadeout');
            setTimeout(() => preloader.remove("fadeout"), 2000);
        })

        const openNav = () => {
            document.getElementById("mySidebar").style.width = "250px";
            // document.getElementById("main").style.marginLeft = "250px";
        }

        const closeNav = () => {
            document.getElementById("mySidebar").style.width = "0";
            // document.getElementById("main").style.marginLeft = "0";
        }
    </script>

</body>

</html>