{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'css/for_parents.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="tables">
        <div class="title schedule__title">
            <h4> Форма учащихся</h4>
        </div>
        <table class="uniform">
            <tr>
                <th>Четверть</th>
                <th>Форма Одежды</th>
            </tr>
            <tr>
                <td>Первая</td>
                <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) или
                    белая футболка с логотипом школы (зеленая футболка только в день физ-ры)
                </td>
            </tr>
            <tr>
                <td>Вторая</td>
                <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) </td>
            </tr>
            <tr>
                <td>Третья</td>
                <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) </td>
            </tr>
            <tr>
                <td>Четвертая</td>
                <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) или
                    белая футболка с логотипом школы (зеленая футболка только в день физ-ры)
                </td>
            </tr>
            <tr>
                <td>Официальные мероприятия (линейки, экзамены)</td>
                <td>Классический костюм темно-синего цвета + значок школы + галстук (для мальчиков) </td>
            </tr>
            <tr>
                <th   class="border__th" colspan="2">Юбка ниже колен! Брюки - нижняя ширина от 20 см для
                    старших
                    классов, от 12 см
                    для младших классов. (для девочек)
                    Мальчики – темно-синие костюмы и РУБАШКИ (без рисунков) любого цвета
                    Девочки темно-синие костюмы (БРЮКИ, ЮБКИ) или САРАФАНЫ и БЛУЗКИ с воротником непрозрачные
                    (без рисунков), в заправку, любого цвета
                    Костюм – это брюки или юбка и пиджак!!!
                </th >
            </tr>
        </table >


    </div>
</div>


    {% endblock %}